<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gh.firstdemo.dao.BoTaskPlanDao">
    <!-- 查询信息 -->
    <select id="getAll" resultType="BoTaskPlan">
      select * from bo_task_plan
    </select>
</mapper>