<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gh.firstdemo.dao.EmpDao">

    <insert id="saveEmp" parameterType="com.gh.firstdemo.entity.Emp">
      insert into springbootdemo.emp(id, name)  value (#{id}, #{name})
    </insert>

    <select id="getAll" resultType="com.gh.firstdemo.entity.Emp">
        select * from springbootdemo.emp
    </select>
</mapper>